<% include ./partials/header %>
<div class="container input-area">
    <h1> Login! </h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <input class="input-lg" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
        <input  class="input-lg" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group">
        <input class="btn btn-lg btn-default" type="submit" value="login">
        </div>
    </form>
</div>

<% include ./partials/footer %>
